<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <title>{{ user.username }}'s blog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- 取用fontawesome圖片 -->
    <script src="https://kit.fontawesome.com/76e472a2b2.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
    <h2>{{ user.username }}</h2>
    <div class="computer-score-rank">
    <h1>Computer Score Rank</h1>
    {% for item in userImgList %}
    <div class="img-outer-frame">
      <div class="img-frame">
        <img src="{{ item.img_url.url }}" alt="">
          <div class="like-score">
          <i class="far fa-heart"></i> {{ item.cmpScore }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</body>
</html>