<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <title>How attractive you are by robot</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src="https://kit.fontawesome.com/76e472a2b2.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body>

<!-- JavaScript & jQuery 版本-->

<!-- HTML part -->

<div class="container">
  <!-- navbar template -->
  <div class="nav-bar">
    <ul>
      <li>
        <a href="/main">Home</a>
      </li>
    {% if user.is_authenticated %}
      <li>
        <a href="/blog/{{ request.user.username }}">Blog</a>
      </li>
    {% endif %}
      <li class="bars">
        {% if user.is_authenticated %}
          <a href="/accounts/logout">Sign out<!--<i class="fas fa-bars fa-lg"></i>--></a>
        {% else %}
          <a href="/accounts/login">Sign in<!-- <i class="fas fa-bars fa-lg"></i> --></a>
        {% endif %}
      </li>
    </ul>
  </div>
  <!-- navbar template -->

  <!-- upload-image-display -->
  <div class="current-image-frame">
    <div class="display-image-outer-frame">
      <div class="display-image-frame">
        <img src="{{ currentImg.img_url.url }}" alt="">
        <!-- <img src="" alt=""> -->
      </div>
    </div>
    <div class="image-detail-frame">
      <div class="image-detail">
        <div class="image-score">{{ currentImg.cmpScore }}</div>
        <div class="image-creator">Creater By : <a class="creator-link" href="">arron pan</a></div>
        <div class="image-classification">
          <div class="classification-item">sun</div>
          <div class="classification-item">sunshine</div>
          <div class="classification-item">house</div>
          <div class="classification-item">tree</div>
          <div class="classification-item">sky</div>
        </div>
      </div>

    </div>

    <div class="comment-list-frame">
        {% for item in currentImg.comments.all %}
            <div class="comment-list">
                <div class="comment-user">{{ item.author.username }}</div>
                <div class="comment-content"><p>{{ item.content }}</p></div>
            </div>
        {% endfor %}
        <div class="comment-submit-frame">
          <form action="" method="POST">
              {% csrf_token %}
              <input type="hidden" name="author" value="{{ request.user.username }}">
              <input type="hidden" name="img" value="{{ currentImg.id }}">
              <textarea name="content" id="" cols="60" rows="2"></textarea>
              <input type="submit" name="submit" value="submit">
          </form>
        </div>
    </div>



  </div>

  <div class="footer">
    <hr style="border: 0.3px #fff solid;">
    <p>© 2019 Created By Aaron Pan. </p>
  </div>

</div>

<!-- JavaScript part -->

<script>

</script>

</body>
</html>